html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #70cade;
    font-family:'Montserrat',sans-serif;
    margin-bottom: 60px;
}
header{
    width: 80%;
    padding: 15px 10%;
    color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#333;
    border-bottom: 2px solid #000;
}
header .logo{
    font-weight:600;
    font-size: 25px;
}
header nav a {
        color: #fff;
        text-decoration:none;
        margin-left: 15px;
}
    header nav a:hover {
        text-decoration: underline
    }
main {
    width:80%;
    padding: 15px 10%;
    margin: 50px 0;

}
footer {
    margin-top: 150px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background: #333;
    border-top: 2px solid #000;
}
main label{
    width: 100%;
    padding: 10px;
    display:block;
}
main input input:not([type="submit"]) {
    width: 90%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid silver;
    outline:none;
    margin-top: 7px;
    
}
main input:not([type="submit"]):focus {
    border:1px solid #ff0000;
}
    main input [type="submit"] {
    width: 40%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin-top: 7px;
    background: #ff6a00;
    font-weight: bold;
    color: #833904;
    cursor: pointer;
}
main input [type="submit"]:hover {
    background:#d96614;
}
main form span {
    color: #ff0000;
    font-weight: bold;
    display:block;
    margin: 5px 0;
}