@model User
@{
    ViewData["Title"] = "Пользователь";
}

<div class="text-center">
    <h1 class="display-4">Личные данные</h1>
</div>
<form method="post" asp-controller="Loggin" asp-action="Check">
   
    <label asp-for="FullName"></label>
    <input asp-for="FullName" />
    <span asp-validation-for="FullName"></span>

    <label asp-for="Loggin"></label>
    <input asp-for="Loggin" />
    <span asp-validation-for="Loggin"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <input type="submit" value="Сохранить" />
</form>

