@model User
@{
    ViewData["Title"] = "Пользователь";
}

<div class="text-center">
    <h1 class="display-4">Войти в аккаунт</h1>
</div>
<form method="post" asp-controller="Loggin" asp-action="Check">
   
   
    <label asp-for="Loggin">Логин</label>
    <input asp-for="Loggin" />
    <span asp-validation-for="Loggin"></span>

    <label asp-for="Password">Пароль</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
   
    <input type="submit" value="Войти" />
</form>

